.custom-button {
  margin: 2px !important;
  background-color: rgb(162, 196, 201) !important;
  color: white !important;
}

.custom-button {
  cursor: default !important;
}

.norm-buttom:hover {
  color: rgb(162, 196, 201) !important;
}

.norm-buttom {
  padding: 30px !important;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  margin: 10px !important;
}
