.custom-button {
  margin: 2px !important;
  background-color: rgb(162, 196, 201) !important;
  color: white !important;
}

.custom-button {
  cursor: default !important;
}

.norm-buttom:hover {
  color: rgb(162, 196, 201) !important;
}

.norm-buttom {
  padding: 30px !important;
  position: absolute;
  top: 40%;
  margin: 10px;
}
