.project-item {
  display: flex !important;
  align-items: center !important;
  cursor: pointer;
  height: 100px;
}

img {
  max-height: 100%;
  padding: 5px;
}

.project-item:hover {
  background-color: rgba(162, 196, 201, 0.25);
}
